[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
python-dotenv = "*"
moto = "*"

[packages]
boto3 = "*"
avatarmigrate = {editable = true, path = "."}
botocore = "*"

[requires]
python_version = "3.8"
